:root {
    --background-color: #4c7766;
    --background-image-color: rgba(0, 0, 0, 0.2);
    --container-bg-color: #ebe6e0;
    --button-bg-color: #4c7766;
    --button-hover-bg-color: #4c7766;
    --button-text-color: #ebe6e0;
    --button-border-color: #4c7766;
    --popup-bg-color: #ebe6e0;
    --popup-border-color: #cccccc;
    --popup-close-button-bg-color: #b03128ee;
    --popup-close-button-hover-bg-color: #b03128ee;
    --text-color: #000000;
    --scrollbar-thumb-color: #808080;
    --scrollbar-track-color: #ebe6e0;
    --footer-text-color: rgb(235, 230, 224);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    margin: 0;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
    background: #4c7766;
    background: linear-gradient(45deg, rgba(76, 119, 102,1) 20%, rgba(235, 230, 224,1) 100%);
}

.custom-font { /* For heading */
    font-family: inherit; 
    color: #4c7766;    
    font-size: 200%;
    font-weight: 900;
}

input, select {
    color: #000;
    background-color: #ebe6e0; 
    border: 1px solid #4c7766; 
    border-radius: 4px;
    padding: 5px;
}

input:focus, select:focus {
    outline: none; 
    border-color: #334f44; /* Border color when clicked on */
    background-color: #ebe6e0; /* Background color when clickef on */
}

.container {
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;
    background-color: var(--container-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
    overflow-x: auto;
    max-width: 450px;
    min-height: 300px;
    position: relative;
    z-index: 1;
}

#newSection, #clearData {
    z-index: 0;
}

.container button {
    background-color: transparent;
    color: var(--button-border-color);
    border: 1px solid var(--button-border-color);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
    transform: 10s;
    transition: background-color 0.15s, color 0.15s;
}

.container button:hover {
    background-color: var(--button-hover-bg-color);
    color: var(--button-text-color);
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    overflow-x: auto;
}

table, th, td {
    border: 1px solid var(--popup-border-color);
}

th, td {
    padding: 10px;
    text-align: middle;
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    margin: 2px;
}

#clearGPAandCGPA {
    background-color: transparent;
    color: var(--popup-close-button-bg-color);
    border: 1px solid var(--popup-close-button-bg-color);
}

#clearGPAandCGPA:hover {
    background-color: var(--popup-close-button-bg-color);
    color: var(--button-text-color);
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

p {
    margin-top: 20px;
    font-size: 18px;
    color: var(--text-color);
}

.popup {
    display: none;
    position: fixed;
    top: 10%;
    left: 48%;
    transform: translate(-50%, 0);
    background-color: var(--popup-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    max-height: 80%;
    overflow-y: auto;
    width: 70%;
    margin: 0;
}

.popup h2 {
    color: var(--text-color);
    margin-bottom: 15px;
}

.popup table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.popup, .popup th, .popup td {
    border: 1px solid var(--popup-border-color);
}

.popup th, .popup td {
    padding: 12px;
    text-align: left;
}

.popup button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}

.popup button:hover {
    background-color: var(--button-hover-bg-color);
}

.popup button.close-button {
    background-color: var(--popup-close-button-bg-color); 
    color: var(--button-text-color);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
}

.popup button.close-button:hover {
    background-color: var(--popup-close-button-hover-bg-color);
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

footer {
    color: #dddddd; 
    font-size: 12px; 
    text-align: center; 
    padding: 10px; 
    position: relative;
    width: 99%;
}

footer a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
    color: #ffffff;
    transform: scale(1.5); 
    text-shadow: 0 0 1px #ffffff;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .popup {
        width: 60%;
        height: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 15px;
        margin: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin: 10px 0;
    }

    th, td {
        padding: 8px;
    }

    button {
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 550;
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    .popup {
        width: 90%; 
        left: 50%;
    }

    .popup table {
        width: 100%;
    }

    .popup th, .popup td {
        padding: 8px;
        font-size: 14px; 
        word-wrap: break-word; 
    }

    .popup input {
        width: 100%; 
        box-sizing: border-box; 
    }
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 10px;
        margin: 10%;
    }

    table {
        margin: 5px 0;
    }

    th, td {
        padding: 6px;
    }

    button {
        padding: 6px 12px;
        font-size: 12px;
    }

    p {
        font-size: 14px;
    }

    h1 {
        font-size: 20px;
    }

    footer {
        font-size: smaller;
    }

    .popup {
        width: 80%;
        height: 70%;
        left: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .container:first-of-type {
        margin: auto;
        margin-top: 15vh;
        max-width: 450px;
    }

    #newSection, #clearData {
        margin-top: 20%;
    }
}
